html,body{
    height: 100%;
    margin: 0;
}
body{
    
    font-family: Lato;
    color:white;
    background-color: #52b788;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: right;
}
footer{
    position:fixed;
    width:100%;
    font-size:15px;
    font-style:italic;
    text-align:center;
    height:25px;
    bottom:0;
}
a{
    text-decoration: none;
}